/*=========================  */
@import url('reset.css');
/* ========================= */
.block{
   width: 200px;
   height: 200px;
   background-color: yellow;
   transition-duration: 2s;/*час загального або основного переходу  */
}
/*  */
.block:hover{
   background-color: green;
   width: 400px;
   transition-duration: 1s;/*час переходу під час ховеру */
   /* при наведенні задіюється час в 1s, а при відведенні курсору 5s */
}
.block-2{
   width: 200px;
   height: 200px;
   background-color: yellow;
   transition-duration:5s, 3s;
   transition-property: background-color, width;
}

.block-2:hover{
   background-color: green;
   width: 300px;
   /* transition-duration:2s; */
}
.block-3{
   width: 200px;
   height: 200px;
   background-color: yellow;
   transition-delay:0s, 2s, 1s;
   transition-duration:3s, 2s, 1s;
   transition-property: background-color, width, height;

}
.block-3:hover{
   width: 400px;
   height: 300px;
   background-color:violet;
}
.list{
  
}
.list__item{
   font-size: 20px;
   color: blue;
   transform: translate(-100%, 0px);
   transition-duration: 0.5s;
}
.list:hover .list__item{
   transform: translate(0px, 0px);
}
.list__item:not(:last-child){
   margin-bottom: 20px;
}
.list__item:nth-child(1){
   transition-duration:0s;
}
.list__item:nth-child(2){
   transition-duration:0.2s;

}
.list__item:nth-child(3){
   transition-duration:0.4s;
}
.list__item:nth-child(4){
   transition-duration:0.6s;

}
.list__item:nth-child(5){
   transition-duration:0.8s;
}
.block-4{
   width: 200px;
   height: 150px;
   background-color: yellow;
   transition-delay: 0s, 0.5s, 0s;
   transition-duration:2s, 1s, 0.5s;
   transition-property: background-color, width, height;
   transition-timing-function: cubic-bezier(0.440, 0.895, 0.755, 0.110);
   /* можна створювати любу поведінку анімації через генератор */
   /* margin: 0 auto; */
}
.block-4:hover{
   width: 700px;
   height: 200px;
   background-color:violet;
}
.block-4--margin{
margin-bottom: 30px;
}
.circle{
   width: 200px;
   height: 200px;
   background-color: blueviolet;
   border-radius: 50%;
   border: 10px dashed black;
animation-name: color, move;
animation-duration: 2s;
animation-timing-function: linear;
animation-iteration-count: 5;
animation-direction:alternate;
animation-delay:2s;
animation-fill-mode: backwards;
/*
	Універсальний запис
	animation

	Порядок запису властивостей:
	animation-name
	animation-duration
	animation-timing-function
	animation-iteration-count
	animation-direction
	animation-play-state
	animation-delay
	animation-fill-mode

*/
animation:color 10s linear 5 alternate 2s forwards,
move 2s 5 alternate forwards;
}
.circle:hover{
   animation-play-state: paused;
}
@keyframes color {
	0% {
		background-color: #77608d;
	}
   50%{
      background-color: yellow;
   }
	100% {
		background-color: #7a956b;
	}
}
@keyframes move {
	0% {
		translate: 0px 0px;
		/* transform: translate(0px, 0px); */
	}
	100% {
		translate: 200px 0px;
		/* transform: translate(200px, 0px); */
	}
}