/*Обнуляючий стиль */
@import url("reset.css");
/* ===================== */
/* Підключення шрифтів */
@import url("fonts.css");
/* Exo */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* =================================================================================================== */
/* Orbitron */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* =================================================================================================== */
.section{
   background-color:#f8f8f8 ;
}
.container{
   /* overflow: hidden; */
   max-width: 1070px;
   font-family:"Proxima Nova", serif;
   font-weight: 400;
   text-align: left;
   color: #2b2929;
   margin: 0px auto;
   font-size: 16px;
   line-height: 1.875;
}
h1{
   font-size: 40px;
   font-weight: 500;
   line-height: 1.2; /* 48px/40 */
   margin-bottom: 50px;
}
h2{color: #2b2929;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.4; /* 28px/20 */
}
.block{
   margin-bottom: 40px;
}
.block-1{
}
.block-2{
   margin-bottom: 25px;
}
.block-3{
margin-left: 47px;

}
.block-3 > p{
   /* background-color: red; */
   margin-left: -47px;
}

.block-1 p:nth-child(1){
   margin-bottom: 30px;
}
.block-1{
   margin-bottom: 47px;
}
.block-2:nth-child(1){
   margin-bottom: 30px;
}
ol.list{
   margin-bottom:75px;
}
.list li::before{
content: "";
background: url('../img/icons/mark.png')center/32px 32px no-repeat;
padding-left: 28px;
max-width:32px;
min-height: 32px;
/* display: inline-block; */
vertical-align: middle;
margin-right: 17px;
margin-left:-47px;
}
.list li{
   margin-bottom: 35px;
   /* padding-left: 47px; */
}
.list li:last-child{
   margin-bottom: 0px;
}
/* ==========Section-2============== */
.section-2 {
   background: url("../img/section_2/about_background.png")0 0/cover no-repeat;
   margin-bottom: 15px;
   
}
.wrapper {
   /* width:1512px; */
   width:100%;
   /* min-height: 555px; */
   color: white;
   text-transform: uppercase;
   font-family: "Exo",sans-serif;
   font-weight: 400;
   margin-bottom: 40px;
   
}
.title-about {
   font-size: 60px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.16; /* 70px/60 */
   text-align: center;
}
.title-about::before{
   content: "";
   margin-bottom: 115px;
}
.title-about::after{
   content: "";
   height: 2px;
   width: 30%;
   text-align: center;
   background: linear-gradient(90deg, rgba(232,39,10,1) 20%, rgba(13,237,10,1) 52%, rgba(8,95,186,1) 86%);
}

.text-about {
   text-align: center;
   margin: 0px auto;
   width: 992px;
   min-height: 230px;
   font-size: 18px;
   text-align: center;
   font-weight: 400;
   line-height: 2.2222; /* 40px/18 */
   letter-spacing: -1px;
}
.items-about {
text-align: center;
font-size:0px;
width: 1150px;
min-height: 25px;
font-family: "Orbitron",sans-serif;
color: #fff;
font-weight: 500;
line-height: 1.25; /* 25px/20 */
}
.item {
   display: inline-block;
   margin: 0px auto;
   font-size: 20px;
}
.item::after {
   content: "";
   background: url("../img/icons/ellipse.png")no-repeat;
   width: 10px;
   min-height: 11px;
   margin-left: 60px;
   /* margin-right: 60px; */
}
.items-about .item:not(:last-child){
   margin-right:60px;
}
.items-about .item:hover::after{
   content: "";
   opacity: 0.5;
}
.wrapper-2{
   max-width: 100%;
   min-height: 275px;
   color: #f8f8f8;
   margin: 0px auto;
   font-family: "Exo",sans-serif;
   font-size: 0px;
}
.items-info{
   text-align: center;
   
}
.info{
   display: inline-block;
   text-align: center;
   color: #fff;
   font-size: 20px;
   font-family: "Exo",sans-serif;
   font-weight: 400;
   line-height: 1; /* 20px/20 */
   letter-spacing: -1px;
}
.items-info .info:nth-child(1){
}
.items-info .info:nth-child(1)::before{
   content: "";
   background: url("../img/icons/call.png")no-repeat;
   width: 20px;
   min-height: 20px;
   vertical-align: middle;
}
.items-info .info:nth-child(2){
   text-transform: uppercase;
}
.items-info .info:nth-child(2)::before{
   content: "";
   background:url("../img/icons/location.png")no-repeat;
   width: 20px;
   min-height: 20px;

}
.items-info .info:nth-child(3){
text-transform: lowercase;
}
.items-info .info:nth-child(3)::before{
   content: "";
   background:url("../img/icons/email.png")no-repeat;
   width: 20px;
   min-height: 20px;
   vertical-align: middle;
}
.items-info .info::before{
   content: "";
   margin-right:20px;
   /* margin-left: 80px; */
}
.items-info .info:not(:first-child){
   margin-left: 80px;
}
.items-info .info:hover::before {
	opacity: 0.5;
}