.introduction{
   width: 100%;
   text-align:  center;
   }

.list{
   display: inline-block;
   
   }

li{
   text-align:left;
   font-size: 20px;
}
p{
   text-align:justify;
}
h1,h2,h3,h4,h5,h6{text-align: center;
   
}

span{
   color:green;
}
.title{
   font-size: 20px;
   text-align: center;
}

h3,h4,h5,h6{
   font-size: 20px;
}
.english{
   font-size: 20px;
}
.shostka{
   width: 78px;
   height: 78px;
}
.hluhiv{
   width: 78px;
   height: 78px;
}
.netflix{
   text-align: center;
}
.netflix-icon{
   width: 76px;
   height: 76px;
}
.heroes-of-magic{
   text-align: center;
}
.magic{
   text-align: center;
}
.connections{
   width: 100%;
   text-align:  center;
}
p{
   font-size: 20px;
}
img{
   width:60%;
 height: 60%;
}
.nizhin{
   width: 76px;
   height: 76px;

}
.good p{
   text-align: center;
}
.kind-of-magic{
   text-align: center;
   font-size: 18px;
}
.thanks{
   text-align: center;
}
.queen{
   font-size: 45px;
   color: rgba(208, 16, 16, 0.789);
}