/* Підключення шрифтів */
@import url("fonts.css");
/*===================== */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* ========================================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* =================================================================================================== */
/* Підключення обнулення */
@import url("reset.css");
/*===================== */ 
.template{
   background-color: #f8f8f8;
}
.container{
   width: 1070px;
   margin: 0px auto;
   font-family:"Proxima Nova", sans-serif ;
   font-size: 16px;
   line-height: 1.875 /* 30px/16 */;
   font-weight: 400;
   text-align: left;
   color: #2b2929;
}
footer{
   text-align: center;
}
h1{
font-weight:500;
font-size:40px ;
margin-bottom: 50px;
}
h2{
   font-size: 20px;
   font-weight:500;
   margin-bottom: 25px;
}
img{
   margin-bottom: 40px;
}
li{
   background: url("../img/icons/mark.png")0 0 no-repeat;
   padding-left: 45px;
   min-height: 32px;
}
p{
   margin-bottom: 30px;
}
p.final{
   margin-bottom: 47px;
}
p.final-2{
   margin-bottom:72px;
}

.layout {
   margin-bottom: 50px;
}
.layout-container {
   font-size: 0px;
   width:1440px;
   min-height: 530px;
   font-family: Quicksand, sans-serif;
   font-weight: 400;
   background:url("../img/template_2/alphabet.png")98% 18% no-repeat,/*url("../img/template_2/kid\ On\ Books.png")right/547px 530px no-repeat,*/
   url("../img/template_2/background.png")50%/cover no-repeat;
   /* linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(181,52,191,1) 0%, rgba(124,74,180,1) 75%); */
   margin: 0px auto;
   vertical-align: top;
   text-align: left;
}
.layout-container-part-1 {
   width: 600px;
   min-height: 288px;
   display: inline-block;
   margin-top: 120px;
   font-size: 14px;
   margin-right: 288px;
   color: #fff;
   vertical-align: top;
}
.title {
   width: 100%;
   margin-bottom: 40px;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.2; /* 48px/40 */
}
.text {
   margin-bottom: 28px;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.6; /* 32px/20 */
}

.layout-container-part-2 {
   display: inline-block;
   vertical-align: top;
   width:547px ;
   min-height:530px ;
}
.button {
   width: 217px;
   min-height: 48px;
   background-color: ;
   padding: 12px 16px;
   border-radius: 8px;
   background-color: #fff;
   color: #0d1216;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.5625; /* 25px/16 */
}
.layout-2 {
}
.layout-2-container{
   font-size: 0px;
   margin: 0px auto;
   width: 1440px;
   min-height: 847px;
   background:url("../img/icons/frame_01.png")0 85% no-repeat,
   url("../img/icons/frame\ _02.png")100% 60% no-repeat;
   background-color: #f4f4f5;
   text-align: center;
   color: #000;
   font-family: "Roboto",sans-serif;
}

.layout-2-container-part-1 {
display: inline-block;
width: 686px;
min-height: 364px;
margin-bottom: 290px;
vertical-align: middle;
margin-right: 112px;
text-align: left;
}
.title-2 {
   width: 100%;
   font-size: 74px;
   font-weight: 300;
  line-height: 0.74324324; /* 55px/74 */
  margin-top: 290px;
  margin-bottom: 67px;
}
.text-2 {
   width: 100%;
   font-size: 30px;
   font-weight: 400;
  line-height: 1.83333333; /* 55px/30 */
  margin-bottom: 9px;
  text-transform: capitalize;
  margin-bottom: 82px;
}
.button-2 {
   width: 100%;
   text-transform: capitalize;
   color: #fff;
  font-size: 29px;
  font-weight: 400;
  padding:22px 0 22px 53px;
  display: inline-block;
  width: 223px;
  height: 72px;
  background: url("../img/icons/bag.png")10% 50% no-repeat;
  background-color: #1e2832;

}
.layout-2-container-part-2 {
   display: inline-block;
   vertical-align:middle;

}

